@charset "utf-8";
/* CSS Document */

.ke-container{ margin-left:0px!important}
.ke-edit{ height:320px!important;}
.ke-edit-iframe{ height:320px!important}

.page{ padding:20px; background:#e7e8eb; height:100%}
.graPage{ width:100%; background:#fff;}
.posTitle{ font-weight:normal; font-size:16px; padding:10px}
.graMain{ overflow:hidden}
.graMain .graLeft,.graMain .graMid,.graMain .graRight{ border:1px solid #ddd;}
.graLeft{ width:20%; float:left; background:#f8f8f8; padding-bottom:50px; height:500px; overflow:scroll;}
.graLeft dt,.graRight dt{ padding:20px;}
.graMid{ width:60%!important; float:left; width:auto; width:1040px; padding-bottom:50px; height:500px; overflow-y:scroll}
.graRight{ width:20%; float:right; padding-bottom:50px; height:500px;}

.graContainer div,.graTabs div{  margin:0 auto; margin:0 20px; border:1px solid #ccc; position:relative; overflow:hidden; margin-bottom:0px;}
.graTabs div{ text-align:center; padding:15px 75px; cursor:pointer}

.graBig img{ border:10px solid #fff; width:190px; height:120px;}
.graBig h6{ background:url(../../images/title_bg.png) repeat center;position:absolute; bottom:10px; width:180px; margin-left:10px; padding:10px 5px; color:#fff; font-size:15px; }

.graSmall .deleteBtn{ background:url(../../images/title_bg.png) repeat center;position:absolute; bottom:10px; width:180px; margin-left:10px; padding:10px 5px; color:#fff; font-size:15px; }

.graSmall ul{ border:10px solid #fff; overflow:hidden; height:78px; background:#fff;}
.smallTitle{ float:left}
.smallTitle h6{ font-size:14px; font-weight:normal}
.smallImg{ float:right}
.smallImg img{ width:78px; height:78px;}

.graAdd{ height:90px; border:2px dotted #ccc!important; cursor:pointer}
.graAdd img{ display:block; margin:0 auto; margin-top:25px;}

.graContainer div:hover,.graTabs div:hover{ border:1px solid green!important;}


.fontDefault{ color:#ccc;}
.graStyleEdite{ padding:20px 80px;}
/*.graStyleEdite dd input{ color:#000; margin-top:10px; margin-bottom:10px; padding:5px 20px; background:#fff; border:1px solid #ddd; margin-right:10px; border-radius:3px}*/
.graStyleEdite dd input{ color:#000;  margin-bottom:10px; padding:5px 20px; background:#fff; border:1px solid #ddd; margin-right:10px; border-radius:3px;}

.graStyleEdite textarea{ width:100%; height:100px;}
.graStyleEdite li{ margin-bottom:5px;}
.graStyleEdite textarea{ resize:none; }

.titleInput{ padding:20px 5px; border-bottom:1px solid #ccc;}
.titleInput span{ font-weight:bold}
.titleInput input{ padding:5px 10px; min-width:200px;}

.graSave{ width:100%;text-align:center; padding:10px 0px;}
.graSave input{background:#1A9DA7;color:#fff; border:none; padding:8px 15px; border-radius:5px; font-size:15px; font-weight:bold}
