@charset "utf-8";
/* CSS Document */
*{margin:0px  ;padding:0px;}
.top{  min-width:1100px; position:fixed; top:0px; left:0px; z-index:10; width:100%;}
.topLeft{ width:20%; float:left; min-width:220px;}
.topRight{ float:right; width:80%; background:#4d4d4d; height:60px; overflow:hidden}

.topSearch{ background:url(../../images/search_bg_02.png) no-repeat center; display:inline-block; width:280px; height:60px; position:relative; margin-left:20px; float:left;}	
.topSearch input{ top:16px; height:30px; left:25px; border:none; background:#666; width:225px; position:absolute; color:#fff;-webkit-border-radius:15px;-moz-border-radius:15px;-ms-border-radius:15px;border-radius:15px;padding-left:10px;}
.topPer{ overflow:hidden; float:right; width:200px;background:#404040; height:60px; margin-top:120x;}
.topPer .left{-mos-border-radius:50%;-webkit-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%; width:36px; height:36px; background:#EEE; padding-left:3px;margin-top:12px; overflow:hidden; margin-left:10px;}
.topPer li{ float:left}
.topPer .mid h6{ line-height:60px; margin-left:10px; font-size:15px; color:#fff;}
.topPer .right{ height:60px;text-align:center;margin-top:30px;width:50px;vertical-align:middle;}
.top_li{    
	        float: right;
		    color: #EFDD57;
		    position: absolute;
		    background: #1A9DA7;
		    right: 80px;
		    margin-top: 55px;
		    padding: 5px;
		    width: 80px;
		    text-align: center;
		    display:none;
		    }
.top_li li{margin-top:5px;}		    

.main{ overflow:hidden; min-width:1100px; margin-top:0px; }
.mainLeft{ float:left; width:20%;height:auto; margin-top:60px;background:#4D4D4D;overflow:hidden;clear:both;}
.mainRight{ float:right; width:80%; margin-top:70px;}
.leftNav{ position:fixed; width:20%;  overflow:hidden; overflow-y:auto;min-width:220px; }

.topTitle{ color:#b6b6b6; font-weight:bold; font-size:1.5em;height:60px; background:#404040; text-align:center; line-height:60px;}
.hideNav,.leftNav{ background:#4D4D4D; height:100%}
.hideNav{ height:80px; position:relative}
.hideNav img{ position:absolute; right:0px; top:28px;}

.firstLi{ background:#4D4D4D; height:60px;position:relative; /*margin-bottom:1px;*/border-bottom:1px  solid #696862; overflow:hidden; width:100%; display:block;}
.firstLi:hover{ text-decoration:none; background:#5e6061;}
.navIcon,.fTitle,.downIcon{ display:inline-block; height:60px; line-height:60px}
.navIcon{ background:#403D3D;width:60px; text-align:center;float:left;}
.navIcon img{margin-top:20px;}
.fTitle{  margin-left:10px; font-size:15px; font-weight:bold; color:#e7e7e7;}
.downIcon{position:absolute; right:5px;}
.downIcon  img{margin-top:25px;}


.topNav{ overflow:hidden;margin-left:10px; /*background:#fff; */background:url(../../images/bg-0061.gif) repeat;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;border-radius:5px;}
.topNav li{ float:left; border-right:1px solid #e1e1e1;  text-align:center}
.topNav a{ display:inline-block; width:110px; height:30px;margin:10px;  text-align:center; line-height:30px; color:#fff;}
.topNav a:hover{border:1px solid #ededed;-mos-border-radius:3px;-webkit-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;
		   box-shadow:1px 2px 2px #c3c3c3; color:#feb220; font-weight:bold; text-decoration:none}
		   
.posInfo{ border:1px solid #e1e1e1; border-left:none; border-right:none;margin-left:10px;}
.posInfo ul{ overflow:hidden; height:30px; background:#f7f7f7; line-height:30px; margin:1px 0; padding:0px 10px;}
.posInfo li{ float:left}
.posIcon img{ margin-right:10px;}
.posInfo h6{ display:inline-block; color:#1b72b5; font-weight:bold; margin:0px 10px;}

.rightInfo{padding:30px;}

.infoTitle{ font-size:22px; font-weight:bold;}
.warning{ background:#faf9e5; border:1px solid #f6ddc2; color:#eda74b; font-size:12px; padding:5px 10px; margin:20px 0px 30px 0px; }
.warning img{ margin-bottom:5px;}


