<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>smartwx</title>
    <meta name="keywords" content="smartwx,微信后台管理系统"/>
    <meta name="description" content="smartwx-迄今为止,最好的JAVA微信后台管理系统！"/>
    <meta name="author" content="hermit"/>
    <link rel="stylesheet" href="/js/plugin/layui/css/layui.css">
    <link rel="stylesheet" href="/css/build/login.css">
</head>
<body>
   <div class="fsh-login">
       <div class="content">
            <h3 class="login-title">SmartWx管理系统</h3>
            <div class="layui-form layui-form-pane" id="login">
                <div class="layui-form-item">
                    <label class="layui-form-label"><img src="/images/common/login-user.png"></label>
                    <div class="layui-input-block ">
                        <input type="text" name="title" id="username" value="smartwx" autocomplete="off" lay-verify="required" placeholder="请输入您的用户名" class="layui-input ">
                    </div>
                </div>
                <div class="layui-form-item ">
                    <label class="layui-form-label"><img src="/images/common/login-pwd.png"></label>
                    <div class="layui-input-block  ">
                        <input type="password" name="password"  value="smartwx" id="password" autocomplete="off" lay-verify="required" placeholder="请输入您的密码" class="layui-input ">
                    </div>
                </div>
                <div class="layui-form-item  layui-form-icon">
                    <input type="checkbox" name="remember" title="记住密码" lay-skin="primary" id="remember">
                </div>
                <div class="layui-form-item">
                    <button type="button" class="layui-btn layui-btn-normal layui-btn-fluid" id="fshLogin">登录</button>
                </div>
            </div>
       </div>
   </div>
</body>
<script src="/js/plugin/jquery-2.2.4.min.js"></script>
<script src="/js/plugin/layui/src/layui.js"></script>
<script src="/js/util.js"></script>
<script src="/js/mylayui.js"></script>
<script src="/js/src/login.js"></script>
</html>