<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"   
		xmlns:util="http://www.springframework.org/schema/util" 
		xmlns:aop="http://www.springframework.org/schema/aop"  
		xmlns:mvc="http://www.springframework.org/schema/mvc"        
    	xsi:schemaLocation="http://www.springframework.org/schema/beans        
    						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd        
    						http://www.springframework.org/schema/context        
   							http://www.springframework.org/schema/context/spring-context-2.5.xsd
   							http://www.springframework.org/schema/tx    
          					http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
     						http://www.springframework.org/schema/aop 
     						http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
   							http://www.springframework.org/schema/mvc  
						    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"> 
		
		
		<!-- 默认的注解映射的支持 -->  
		<context:component-scan base-package="com.wxmp.*" />
    	<context:annotation-config />
    	

    	<!-- 解析Controller|RequestMapping等注解 -->
    	<mvc:annotation-driven>
    	    	<!-- 针对 Responsebody 转码 -->
			<mvc:message-converters register-defaults="true">
				<bean class="com.wxmp.core.util.UTF8StringHttpMessageConverter" />
			</mvc:message-converters>
		</mvc:annotation-driven>  
		
			<!-- 对静态资源文件的访问， 将无法mapping到Controller的path交给default servlet handler处理 -->
	 <mvc:default-servlet-handler />
     <mvc:resources mapping="/res/**"  location="/res/"/>
     <mvc:resources mapping="/upload/**"  location="/upload/"/>
<!-- 	<mvc:interceptors>
		<bean class="com.wxmp.core.interceptor.AuthInterceptor">
			<property name="allowUrls">
				<list>
					<value>/wxcms/main</value>
					<value>/login/logout</value>
					<value>/login/checkLogin</value>
				</list>
			</property>
		</bean>
	</mvc:interceptors> -->
	<!-- 视图解析器（ViewResolver）配置 <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>-->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/template/views/"/>
		<property name="suffix" value=".jsp"/>
	</bean> 

<!-- 
		<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">  
		    <property name="templateLoaderPath" value=""/>
			<property name="freemarkerSettings">
				<props>
					<prop key="tag_syntax">auto_detect</prop>
					<prop key="template_update_delay">1</prop>
					<prop key="defaultEncoding">UTF-8</prop>
					<prop key="url_escaping_charset">UTF-8</prop>
					<prop key="locale">zh_CN</prop>
					<prop key="boolean_format">true,false</prop>
					<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
					<prop key="date_format">yyyy-MM-dd</prop>
					<prop key="time_format">HH:mm:ss</prop>
					<prop key="number_format">0.######</prop>
					<prop key="whitespace_stripping">true</prop>
					<prop key="auto_import">/WEB-INF/ftl/spring.ftl as s</prop>
				</props>
			</property>
		</bean>  
		
		 <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
	    	<property name="prefix" value="/WEB-INF/pages/" />
			<property name="suffix" value=".html" />
			<property name="cache" value="true" />
			<property name="contentType" value="text/html; charset=UTF-8" />
			<property name="requestContextAttribute" value="request" />
		</bean>
-->
	  <!-- 配置文件上传，如果没有使用文件上传可以不用配置，当然如果不配，那么配置文件中也不必引入上传组件包 -->    
	  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
	    	    <!-- 默认编码 -->  
		        <property name="defaultEncoding" value="utf-8" />    
		        <!-- 文件大小最大值 -->  
		        <property name="maxUploadSize" value="10000000" />    
		        <!-- 内存中的最大值 -->  
		        <property name="maxInMemorySize" value="40960" />   
	  </bean>
</beans>

