<div class="fsh-rightPanel wxmp-index" >
    <div class="layui-anim layui-anim-upbit">
        <blockquote class="layui-elem-quote layui-bg-red" style="border: 0;">
            <p>
                我们的全新后台管理系统1.0版本，已成功上线，有需要的请点击下方的【联系我】.
                <a href="https://admin.smartwx.info"  style="color: #fff;text-decoration: underline;">访问官网</a>
            </p>
        </blockquote>
        <blockquote class="layui-elem-quote layui-bg-red hide" id="index-update" style="border: 0;">
            <p>
                系统已升级，请升级本系统，让我们将继续为您服务。
                <a href="https://gitee.com/qingfengtaizi/wxmp"  style="color: #fff;text-decoration: underline;">马上升级</a>
            </p>
        </blockquote>
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md6">
                <div class="panel panel-default" style="min-height: 249px;">
                    <div class="panel-heading">简介</div>
                    <div class="panel-body">
                        基于开源SmartWx，SmartAdmin是一款基于JAVA企业级平台研发的后台管理系统，
                        我们依旧秉持简单实用至上的原则，代码采用极简化，更适合二次开发。此次1.0版本包括 用户管理，角色管理，机构管理，资源管理，字典管理，微信支付，支付宝支付等功能
                        官方网址：
                        <p class="text-center" style="margin-top: 50px;">
                            <a class="layui-btn btn-primary" href="http://wpa.qq.com/msgrd?v=3&uin=1154808491&site=qq&menu=yes" target="_blank">
                                <i class="iconfont icon-qq"></i>联系我</a>
                            <a class="layui-btn layui-btn-warm" href="https://www.smartwx.info" target="_blank">
                                <i class="iconfont icon-shouye"></i>访问官网</a>
                            <a class="layui-btn btn-primary" href="https://github.com/qingfengtaizi/wxmp-web" target="_blank">
                                <i class="iconfont icon-github"></i>Github</a>
                            <a class="layui-btn layui-btn-warm" href="https://gitee.com/qingfengtaizi/wxmp" target="_blank">
                                <img src="/images/gitee.ico" width="18" alt=""></i> 码云</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="panel panel-default">
                    <div class="panel-heading">关于</div>
                    <div class="panel-body">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>技术支持：</td>
                                <td><a href="http://www.webcsn.com">WebCsn（www.webcsn.com）</a></td>
                            </tr>
                            <tr>
                                <td>产品交流</td>
                                <td><a href="http://www.webcsn.com">WebCsn（www.webcsn.com）</a></td>
                            </tr>
                            <tr>
                                <td>QQ交流群</td>
                                <td><a href="https://jq.qq.com/?_wv=1027&k=5bGtRX8">普通群：671585861(学习交流，互相解答各种疑问)</a>
                                </a>
                                </td>
                            </tr>
                            <tr>
                                <td>授权QQ</td>
                                <td><a href="http://wpa.qq.com/msgrd?v=3&uin=1154808491&site=qq&menu=yes" target="_blank">
                                1154808491
                            </a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md6">
                <div class="panel panel-default">
                    <div class="panel-heading">环境信息</div>
                    <div class="panel-body" id="index-environment">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>JAVA版本:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>MYSQL版本</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>WEB服务器</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>CPU个数</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>虚拟机内存总量</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>虚拟机空闲内存量</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>虚拟机使用的最大内存量</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="panel panel-default" style="min-height: 386px;">
                    <div class="panel-heading">系统信息</div>
                    <div class="panel-body" id="index-stytem">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>客户端IP：</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>服务器IP</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>操作系统</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>用户主目录</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>工作目录</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>系统目录</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md4">
                <div class="panel panel-default" style="min-height: 285px;">
                    <div class="panel-heading">二次开发</div>
                    <div class="panel-body layui-text">
                        <p>我们提供基于SmartWx的二次开发、模板定制服务，具体费用请联系我们。</p>
                        <p>同时，我们也提供以下服务：</p>
                        <ol>
                            <li>网站定制开发</li>
                            <li>仿站服务</li>
                            <li>APP开发</li>
                            <li>微信开发等</li>
                            <li>......</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="panel panel-default" style="min-height: 285px;">
                    <div class="panel-heading">商业授权说明</div>
                    <div class="panel-body layui-text">
                        <p>商业授权后我可以获得什么？</p>
                        <ol>
                            <li>可以用于商业网站</li>
                            <li>可以去除本页面</li>
                            <li>可以去除Powered by SmartWx</li>
                            <li>获得更多功能；</li>
                            <li>意见或建议优先考虑；</li>
                            <li>提供技术服务支持；</li>
                            <li>……</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="panel panel-default" style="min-height: 285px;">
                    <div class="panel-heading">版本信息</div>
                    <div class="panel-body" id="index-version">
                        <table class="layui-table">
                            <colgroup>
                                <col width="150">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>系统支持</td>
                                <td>SmartWx</td>
                            </tr>
                            <tr>
                                <td>当前版本</td>
                                <td>2.0.0</td>
                            </tr>
                            <tr>
                                <td>当前版本更新时间</td>
                                <td>2018-04-15</td>
                            </tr>
                            <tr>
                                <td>最新版本</td>
                                <td>2.0.0</td>
                            </tr>
                            <tr>
                                <td>最新版本更新时间</td>
                                <td>2018-04-15</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>更新日志</legend>
        </fieldset>
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="layui-timeline">
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">7月6日</h3>
                                    <p>
                                        SmartAdmin 1.0 已成功上线。
                                        <br>从SmartWx开始，我们的脚步从未停下，后台管理系统，我们已经开始了，接下来我们会做的更多
                                        <br>纵然当今，管理系统泛滥，请相信我们的初衷，我们已然在路上 <i class="layui-icon"></i>
                                        <br>在此我依然要特表感谢我的两位朋友（排名不分先后顺序）：<em>zhaoqingfu</em>   <em>哥本哈根的小哥</em>
                                    </p>
                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">4月15日</h3>
                                    <p>
                                        SmartWx 2.0 的一切准备工作似乎都已到位。
                                        <br>我们从1.0版本上线，就一直在规划2.0版本的代码，我们曾夜以继日的努力，只为得到您的肯定
                                        <br>无论它能走多远，抑或如何支撑？至少我们曾倾注全心，无怨无悔 <i class="layui-icon"></i>
                                        <br>在此我要特表感谢我的三位朋友（排名不分先后顺序）：<em>zhaoqingfu</em>   <em>哥本哈根的小哥</em>  <em>一位腼腆的小姑娘</em>
                                    </p>
                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">V 1.0</h3>
                                    <p>屈原的思想核心是忠君爱国 殉道精神，他有“<em>鸷鸟之不群兮，自前世而固然</em>”的高雅情操。个人最爱的名篇有：</p>
                                    <ul>
                                        <li>《离骚》</li>
                                        <li>《九歌》</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        var systemVersion=null;
        var systemUpdateTime=null;
        var systemName=null;
        //获取系统环境信息
        $.ajax({
            url: '/manage/index',
            success: function (result) {
                if (result.success) {
                    renderHtml({
                        targetId: 'index-environment',
                        template: "environment",
                        htmlData: result,
                    });
                    renderHtml({
                        targetId: 'index-stytem',
                        template: "stytem",
                        htmlData: result,
                    });
                    systemName=result.data.systemName;
                    systemVersion=result.data.systemVersion;
                    systemUpdateTime=result.data.systemUpdateTime;
                    checkUpdate();
                }
            }
        });

        function checkUpdate() {
            $.getJSON("https://www.smartwx.info/newVersion?callback=?", function (result) {
                if(systemVersion && result.LAST_SYSTEM_VERSION) {
                    //渲染版本信息
                    result.systemName=systemName;
                    result.systemVersion=systemVersion;
                    result.systemUpdateTime=systemUpdateTime;
                    renderHtml({
                        targetId: 'index-version',
                        template: "version",
                        htmlData: result,
                    });
                    var local = systemVersion.split(".");
                    var last = result.LAST_SYSTEM_VERSION.split(".");
                    if(hasnew(local[0],last[0])){
                        newCallback();
                    }else if(local[0]==last[0]){
                        if(hasnew(local[1],last[1])){
                            newCallback();
                        }else if(local[1]==last[1] && hasnew(local[2],last[2])){
                            newCallback();
                        }
                    }
                }
                function hasnew(a,b) {
                    return parseInt(b)>parseInt(a)
                }
                function newCallback() {
                    $("#index-update").removeClass("hide");
                }
            });
        }
    });
</script>
