//上传预览
.layui-upload-file,.layui-btn~.fsh-upload-preview{
  margin-top: 10px;
}
.fsh-upload-preview {
  > .item {
    position: relative;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;

    img {
      display: inline-block;
      width: auto;
      height:200px;
      min-width:200px;
    }
    .icon-error{
      display: block;
      position: absolute;
      right: -3px;
      top: -12px;
      width: 18px;
      height: 18px;
      background-color: #666;
      border-radius: 100%;
      color: #fff;
      padding: 3px;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
    }
  }
}

//标签
.fsh-form-label{
  .layui-input-inline{
    width: 100px;
  }
}
.fsh-labels{
  span{
    display: inline-block;
    padding: 8px 16px;
    background: #FFEAB4;
    color: #F5B100;
    font-size: 14px;
    position: relative;
  }
}

//表单下label的****
.layui-form-label {
  i:not(.iconfont) {
    color: red;
    margin-right: 10px;
    font-style: normal;
  }
}

.fsh-form-lg{
  max-width: 900px;
  h2{
    margin-bottom: 20px;
    line-height: 40px;
    padding-bottom: 10px;
    color: #393D49;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
  }
  .layui-form-label{
    width: 150px;
  }
  .layui-input-block {
    margin-left: 180px;
  }
}