<table class="layui-table">
    <colgroup>
        <col width="150">
        <col>
    </colgroup>
    <tbody>
    <tr>
        <td>JAVA版本:</td>
        <td><%=data.javaVersion%></td>
    </tr>
    <tr>
        <td>MYSQL版本</td>
        <td><%=data.mysqlVersion%></td>
    </tr>
    <tr>
        <td>WEB服务器</td>
        <td><%=data.webVersion%></td>
    </tr>
    <tr>
        <td>CPU个数</td>
        <td><%=data.cpu%></td>
    </tr>
    <tr>
        <td>虚拟机内存总量</td>
        <td><%=data.totalMemory%></td>
    </tr>
    <tr>
        <td>虚拟机空闲内存量</td>
        <td><%=data.freeMemory%></td>
    </tr>
    <tr>
        <td>虚拟机使用的最大内存量</td>
        <td><%=data.maxMemory%></td>
    </tr>
    </tbody>
</table>