<table class="layui-table">
    <colgroup>
        <col width="150">
        <col>
    </colgroup>
    <tbody>
    <tr>
        <td>客户端IP：</td>
        <td><%=data.clientIP%></td>
    </tr>
    <tr>
        <td>服务器IP</td>
        <td><%=data.serverIP%></td>
    </tr>
    <tr>
        <td>操作系统</td>
        <td><%=data.osName%></td>
    </tr>
    <tr>
        <td>用户主目录</td>
        <td><%=data.userHome%></td>
    </tr>
    <tr>
        <td>工作目录</td>
        <td><%=data.userDir%></td>
    </tr>
    <tr>
        <td>系统目录</td>
        <td><%=data.webRootPath%></td>
    </tr>
    </tbody>
</table>