<table class="layui-table">
    <colgroup>
        <col width="150">
        <col>
    </colgroup>
    <tbody>
    <tr>
        <td>系统支持</td>
        <td><%=systemName%></td>
    </tr>
    <tr>
        <td>当前版本</td>
        <td><%=systemVersion%></td>
    </tr>
    <tr>
        <td>当前版本更新时间</td>
        <td><%=systemUpdateTime%></td>
    </tr>
    <tr>
        <td>最新版本</td>
        <td><%=LAST_SYSTEM_VERSION%></td>
    </tr>
    <tr>
        <td>最新版本更新时间</td>
        <td><%=LAST_SYSTEM_UPDATE_TIME%></td>
    </tr>
    </tbody>
</table>