<div class="fsh-pop">
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <td>昵称</td>
            <td><%=nicknameStr%></td>
        </tr>
        <tr>
            <td>头像</td>
            <td><img src="<%=headimgurl%>"></td>
        </tr>
        <tr>
            <td>性别</td>
            <td><%=gender==1? '男' : '女'%></td>
        </tr>
        <tr>
            <td>省/市</td>
            <td><%=province%>/<%=city%></td>
        </tr>
        </tbody>
    </table>
</div>