<div class="fsh-pop">
    <div id="add_form" class="layui-form">
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><i>*</i>模板ID</label>
            <div class="layui-input-block">
                <input name="tplId" maxlength="50" lay-verify="required" placeholder="请输入内容" class="layui-input">
            </div>
        </div> 
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><i>*</i>模板标题</label>
            <div class="layui-input-block">
                <input name="title" maxlength="20" lay-verify="required" placeholder="请输入内容" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><i>*</i>微信模板</label>
            <div class="layui-input-block">
                <textarea name="wxTpl" maxlength="80" lay-verify="required" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><i>*</i>模板内容</label>
            <div class="layui-input-block">
                <textarea name="content" maxlength="200" lay-verify="required" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>
    </div>
</div>