<div class="layui-side-scroll">
    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
    <ul class="layui-nav layui-nav-tree" lay-filter="test">
        <%for(i=0;i < data.length ; i++){%>
        <li class="layui-nav-item">
            <a href="javascript:;"><i class="iconfont <%=data[i].icon%>"></i><%=data[i].name%></a>
            <dl class="layui-nav-child">
                <%if(data[i].subList){for(j=0;j< data[i].subList.length ; j++){%>
                <dd>
                    <a href="javascript:;" data-url="<%=data[i].subList[j].url%>">
                    <i class="iconfont <%=data[i].subList[j].icon%>"></i><%=data[i].subList[j].name%></a>
                </dd>
                <%}}%>
            </dl>
        </li>
        <%}%>
    </ul>
</div>