<ul class="wxmp-list-justify media-list">
    <%for(var i=0;i< data.length;i++){%>
    <li class="item">
        <a href="<%=data[i].url%>" target="_blank">
            <img src="<%=data[i].picpath%>" alt="" class="main">
        </a>
        <div class="content">
            <h3 class="ellipsis"><%=data[i].title%></h3>
            <p class="time">
                <%=data[i].createTime%>
            </p>
            <p class="abstract">
                <%=data[i].brief%>
            </p>
        </div>
        <div class="btn-group" data-id="<%=data[i].id%>">
            <button class="layui-btn btn-primary-reversal" event="edit">编辑</button>
            <button class="layui-btn btn-danger-reversal" event="mass">群发</button>
            <button class="layui-btn btn-danger-reversal" event="del">删除</button>
        </div>
    </li>
    <%}%>
</ul>
<div id='pagination2' class="pagination"></div>