/* var*/

// 基础
// --------------------------------------------------
$font-family-default: "微软雅黑", "Arial Narrow", HELVETICA, PingFang SC, sans-serif;
$font-size-default: 14px !default;
$font-weight: 500 !default;
$font-weight-light: 400 !default;
$line-height-default: 21px !default;

// 颜色
// --------------------------------------------------
$default-color: #009688 !default;
$primary-color: #1E9FFF !default;
$warm-color: #FFB800 !default;
$danger-color: #fe8a8a !default;
$disabled-color: #FBFBFB !default;
$gry: #808080 !default;

// 边框
// --------------------------------------------------

$border-default: 1px solid #ccc !default;
$border-radius: 2px !default;




