<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		 id="WebApp_ID" version="3.0">
	<display-name>Web Application</display-name>

	<welcome-file-list>
		<welcome-file>/views/login.html</welcome-file>
	</welcome-file-list>

	<!--配置session失效时间，单位：分钟-->
	<session-config>
		<session-timeout>100</session-timeout>
	</session-config>

	<!--+++++++++++++++ context-param 开始 ++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<!--加载log4j-->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:property/log4j.properties</param-value>
	</context-param>

	<!--Spring刷新Log4j配置文件变动的间隔,单位为毫秒 -->
	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>10000</param-value>
	</context-param>

	<!--spring配置文件-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-config.xml</param-value>
	</context-param>
	<!--+++++++++++++++ context-param 结束 ++++++++++++++++++++++++++++++++++++++++++++++++++-->

	<!--+++++++++++++++ listener 开始 ++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<!--Log4j监听-->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<!--监听器-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!--request监听-->
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>com.wxmp.core.listener.InitListener</listener-class>
	</listener>
	<!--+++++++++++++++ listener 结束 ++++++++++++++++++++++++++++++++++++++++++++++++++-->

	<!--+++++++++++++++ filter 开始 ++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<!--字符集过滤器-->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  <!-- xss防御过滤器 -->
  	<filter>
		<filter-name>XSSFilter</filter-name>
		<filter-class>com.wxmp.core.interceptor.XSSFilter</filter-class>
		<init-param>
	      <param-name>excludedPages</param-name>
	      <param-value>/addSingleNews,/addMoreNews,/toUpdateSingleNews,/updateSingleNews</param-value>
	    </init-param>
	</filter>
	  <filter-mapping>
	    <filter-name>XSSFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	  </filter-mapping>
	<!--+++++++++++++++ filter 结束 ++++++++++++++++++++++++++++++++++++++++++++++++++-->

	<!--+++++++++++++++ servlet 开始 ++++++++++++++++++++++++++++++++++++++++++++++++++-->
	<!--配置springMvc-->
	<servlet>
		<servlet-name>springMvcServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMvcServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>springMvcServlet</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>
	<!--<servlet>-->
		<!--<servlet-name>default</servlet-name>-->
		<!--<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>-->
		<!--<init-param>-->
			<!--<param-name>debug</param-name>-->
			<!--<param-value>0</param-value>-->
		<!--</init-param>-->
		<!--<init-param>-->
			<!--<param-name>listings</param-name>-->
			<!--<param-value>true</param-value>-->
		<!--</init-param>-->
		<!--<load-on-startup>1</load-on-startup>-->
	<!--</servlet>-->

	<!--&lt;!&ndash;静态资源过滤：对客户端请求的静态资源如图片、JS文件等的请求交由默认的servlet进行处理&ndash;&gt;-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>default</servlet-name>-->
		<!--<url-pattern>*.html</url-pattern>-->
	<!--</servlet-mapping>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>default</servlet-name>-->
		<!--<url-pattern>*.js</url-pattern>-->
	<!--</servlet-mapping>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>default</servlet-name>-->
		<!--<url-pattern>*.css</url-pattern>-->
	<!--</servlet-mapping>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>default</servlet-name>-->
		<!--<url-pattern>*.png</url-pattern>-->
	<!--</servlet-mapping>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>default</servlet-name>-->
		<!--<url-pattern>*.json</url-pattern>-->
	<!--</servlet-mapping>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>default</servlet-name>-->
		<!--<url-pattern>*.xml</url-pattern>-->
	<!--</servlet-mapping>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>default</servlet-name>-->
		<!--<url-pattern>*.gif</url-pattern>-->
	<!--</servlet-mapping>-->

	<!--<servlet-mapping>-->
		<!--<servlet-name>default</servlet-name>-->
		<!--<url-pattern>/js/*</url-pattern>-->
	<!--</servlet-mapping>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>default</servlet-name>-->
		<!--<url-pattern>/css/*</url-pattern>-->
	<!--</servlet-mapping>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>default</servlet-name>-->
		<!--<url-pattern>/fonts/*</url-pattern>-->
	<!--</servlet-mapping>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>default</servlet-name>-->
		<!--<url-pattern>/images/*</url-pattern>-->
	<!--</servlet-mapping>-->
	<!--<servlet-mapping>-->
		<!--<servlet-name>default</servlet-name>-->
		<!--<url-pattern>/views/*</url-pattern>-->
	<!--</servlet-mapping>-->
	<!--+++++++++++++++ servlet 结束 ++++++++++++++++++++++++++++++++++++++++++++++++++-->
    
    <!--+++++++++++++++ druid sql 监控开始 ++++++++++++++++++++++++++++++++++++++++++++++-->
    <servlet>  
        <servlet-name>DruidStatView</servlet-name>  
        <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>  
        <init-param>  
            <!-- 允许清空统计数据 -->  
            <param-name>resetEnable</param-name>  
            <param-value>true</param-value>  
        </init-param>  
        <init-param>
            <param-name>exclusions</param-name>
            <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
        </init-param>
        <init-param>  
            <!-- 用户名 -->  
            <param-name>loginUsername</param-name>  
            <param-value>root</param-value>  
        </init-param>  
        <init-param>  
            <!-- 密码 -->  
            <param-name>loginPassword</param-name>  
            <param-value>root</param-value>  
        </init-param>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>DruidStatView</servlet-name>  
        <url-pattern>/druid/*</url-pattern>  
    </servlet-mapping>  
    <!--+++++++++++++++ druid sql 监控结束 ++++++++++++++++++++++++++++++++++++++++++++++-->
    
</web-app>