<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--  the code template created by wxmp-generator @author hermit @version 2.0 @date 2018-04-17 10:43:21 -->
<mapper namespace="com.wxmp.wxcms.mapper.MsgBaseDao">

	<select id="listForPage" parameterType="com.wxmp.wxcms.domain.MsgBase" resultType="com.wxmp.wxcms.domain.MsgBase">
		SELECT * FROM wxcms_msg_base
		<trim prefix="where" prefixOverrides="and|or">
	        1=1 
			<if test="msgtype != null and msgtype != '' ">
			    AND  MSG_TYPE = #{msgtype}
			</if>
		</trim>	 
		ORDER BY ID
	</select>

	<select id="getById" parameterType="java.lang.String" resultType="com.wxmp.wxcms.domain.MsgBase">
		SELECT * FROM wxcms_msg_base WHERE ID = #{id}
	</select>
	
	<select id="getMsgTextByBaseId" parameterType="java.lang.String" resultType="com.wxmp.wxcms.domain.MsgText">
		SELECT t.* FROM wxcms_msg_text t , wxcms_msg_base b
		WHERE t.base_id = b.id
		AND b.id = #{id}
	</select>
	
	<select id="getMsgTextBySubscribe" resultType="com.wxmp.wxcms.domain.MsgText">
		SELECT t.* FROM wxcms_msg_text t , wxcms_msg_base b
		WHERE t.base_id = b.id
		AND b.input_code = 'subscribe'
	</select>
	
	<select id="getMsgTextByInputCode" resultType="com.wxmp.wxcms.domain.MsgText">
		SELECT t.* FROM wxcms_msg_text t , wxcms_msg_base b
		WHERE t.base_id = b.id
		AND b.input_code = #{inputcode}
	</select>
	
	<select id="listMsgNewsByBaseId" resultType="com.wxmp.wxcms.domain.MsgNews">
		SELECT t.* FROM wxcms_msg_news t , wxcms_msg_base b
		WHERE t.base_id = b.id
		AND b.id in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
		 #{item}  
		</foreach>  
	</select>

	<insert id="add" parameterType="com.wxmp.wxcms.domain.MsgBase" flushCache="true" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO wxcms_msg_base ( MSG_TYPE,INPUT_CODE,RULE,ENABLE,READ_COUNT,FAVOUR_COUNT,CREATE_TIME )  VALUES ( #{msgtype},#{inputcode},#{rule},#{enable},#{readcount},#{favourcount},#{createTime} )
	</insert>

	<update id="update" parameterType="com.wxmp.wxcms.domain.MsgBase" flushCache="true">
		UPDATE wxcms_msg_base SET MSG_TYPE = #{msgtype},INPUT_CODE = #{inputcode},RULE = #{rule},ENABLE = #{enable},READ_COUNT = #{readcount},FAVOUR_COUNT = #{favourcount},CREATE_TIME = #{createTime} WHERE ID = #{id}
	</update>
	
	<update id="updateInputcode" parameterType="com.wxmp.wxcms.domain.MsgBase" flushCache="true">
		UPDATE wxcms_msg_base SET INPUT_CODE = #{inputcode} WHERE ID = #{id}
	</update>

	<delete id="delete" parameterType="com.wxmp.wxcms.domain.MsgBase" >
		DELETE FROM wxcms_msg_base WHERE ID = #{id}
	</delete>

</mapper>
