<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--  the code template created by wxmp-generator @author hermit @version 2.0 @date 2018-04-17 10:43:21 -->
<mapper namespace="com.wxmp.wxcms.mapper.MsgTextDao">

	<select id="getMsgTextByPage" parameterType="com.wxmp.wxcms.domain.MsgText" resultType="com.wxmp.wxcms.domain.MsgText">
		SELECT b.msg_type ,b.input_code ,t.* FROM wxcms_msg_text t , wxcms_msg_base b
		WHERE t.base_id = b.id
		<if test="inputcode != '' and inputcode != null">
			and b.input_code=#{inputcode}
		</if>
		<if test="account != null">
			and account = #{account}
		</if>
		ORDER BY b.create_time DESC
	</select>
	<select id="getMsgTextList" parameterType="com.wxmp.wxcms.domain.MsgText" resultType="com.wxmp.wxcms.domain.MsgText">
		SELECT b.msg_type ,b.input_code ,t.* FROM wxcms_msg_text t , wxcms_msg_base b
		WHERE t.base_id = b.id
		<if test="inputcode != '' and inputcode != null">
			and b.input_code=#{inputcode}
		</if>
		<if test="account != null">
			and account = #{account}
		</if>
		ORDER BY b.create_time DESC
	</select>
	<select id="getById" parameterType="java.lang.String" resultType="com.wxmp.wxcms.domain.MsgText">
		SELECT * FROM wxcms_msg_text WHERE ID = #{id}
	</select>
	
	<select id="getRandomMsg" parameterType="java.lang.String" resultType="com.wxmp.wxcms.domain.MsgText">
		SELECT t.* from wxcms_msg_text t , wxcms_msg_base b
		WHERE b.input_code = #{inputCode} and t.base_id = b.id 
		ORDER BY RAND() LIMIT 1
	</select>
	
	<select id="getRandomMsg2" resultType="com.wxmp.wxcms.domain.MsgText">
		SELECT t.* from wxcms_msg_text t , wxcms_msg_base b
		WHERE t.base_id = b.id 
		ORDER BY RAND() LIMIT 1
	</select>

	<insert id="add" parameterType="com.wxmp.wxcms.domain.MsgText" flushCache="true">
		INSERT INTO wxcms_msg_text (TITLE, CONTENT,BASE_ID,ACCOUNT)  VALUES ( #{title},#{content},#{baseId},#{account}  )
	</insert>

	<update id="update" parameterType="com.wxmp.wxcms.domain.MsgText" flushCache="true">
		UPDATE wxcms_msg_text SET CONTENT = #{content},TITLE = #{title} WHERE ID = #{id}
	</update>

	<delete id="delete" parameterType="com.wxmp.wxcms.domain.MsgText" >
		DELETE FROM wxcms_msg_text
		<where>
			<if test="id != null">
				ID = #{id}
			</if>
			<if test="baseId != null">
				and base_id = #{baseId}
			</if>
		</where>
	</delete>

	<select id="getByBaseId" parameterType="java.lang.String" resultType="com.wxmp.wxcms.domain.MsgText">
		SELECT * FROM wxcms_msg_text WHERE base_id = #{baseid}
	</select>
</mapper>
