<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--  the code template created by wxmp-generator @author hermit @version 2.0 @date 2018-04-17 10:43:21 -->
<mapper namespace="com.wxmp.wxcms.mapper.SysUserDao">
    <!--根据用户名密码查询-->
    <select id="getSysUser" parameterType="com.wxmp.wxcms.domain.SysUser"
    	resultType="com.wxmp.wxcms.domain.SysUser">
		SELECT * FROM sys_user t
		where t.account =  #{account}
		and t.pwd = #{pwd}
	</select>
	
	<!--根据主键id查询用户-->
    <select id="getSysUserById" parameterType="java.lang.String"
    	resultType="com.wxmp.wxcms.domain.SysUser">
		SELECT * FROM sys_user t
		where t.id =  #{userId}
	</select>
	
	
    <!--修改登录密码-->
	<update id="updateLoginPwd" parameterType="com.wxmp.wxcms.domain.SysUser" >
		UPDATE sys_user
		SET pwd = #{newpwd},
		    update_time = #{updateTime} 
		WHERE id = #{id} 
	</update>
</mapper>